# ============================================================
# Ignore everything by default
# ============================================================
/*

# ============================================================
# Allow .gitignore itself
# ============================================================
!.gitignore

# ============================================================
# Whitelist path to plugins directory
# ============================================================
!/wp-content/
/wp-content/*
!/wp-content/plugins/
/wp-content/plugins/*

# ============================================================
# Whitelist the specific custom plugins
# ============================================================
!/wp-content/plugins/webshop-acf-blocks/
!/wp-content/plugins/webshop-custom-functions/
!/wp-content/plugins/contact-form-7-custom/
!/wp-content/plugins/searchwp-customizations/
!/wp-content/plugins/gi-taxjar-integration/
!/wp-content/plugins/wdm-csp-customizations/
!/wp-content/themes/
!/cron/
!/wp-content/themes/Sealing-US/
cron/python-prod.zip
cron/import_giqa1.sql
wp-content/themes/cabling.zip
wp-content/themes/Sealing-US.zip
wp-content/themes/Sealing-US1.zip
wp-content/themes/cabling/inc/icode-functions.php.bak
