*
!.gitignore

!wp-content/
wp-content/*
!wp-content/plugins/
wp-content/plugins/*

!wp-content/plugins/webshop-acf-blocks/
!wp-content/plugins/webshop-acf-blocks/**

!wp-content/plugins/webshop-custom-functions/
!wp-content/plugins/webshop-custom-functions/**

!wp-content/plugins/contact-form-7-custom/
!wp-content/plugins/contact-form-7-custom/**

!wp-content/plugins/searchwp-customizations/
!wp-content/plugins/searchwp-customizations/**

!wp-content/plugins/gi-taxjar-integration/
!wp-content/plugins/gi-taxjar-integration/**

!wp-content/plugins/wdm-csp-customizations/
!wp-content/plugins/wdm-csp-customizations/**

**/vendor/
**/node_modules/
**/dist/
**/build/
**/*.log
**/debug.log
**/error_log
**/.DS_Store
**/Thumbs.db
**/.idea/
**/.vscode/
**/.sass-cache/
**/*.css.map
**/*.tmp
**/*.bak
**/*.swp
**/*~
**/phpunit.xml.dist
**/.phpunit.result.cache